<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <meta name="twitter:card" content="summary">
<meta name="twitter:site" content="matthewjordanreid.com">
<meta name="twitter:creator" content="@misterkapt">
<meta property="og:url" content="http://www.matthewjordanreid.com/howlowqualitypeoplecanaffectyourlife">
<meta property="og:title" content="how low quality people can affect your life">
<meta property="og:description" content="how your success depends on the quality of people you put yourself around.">
    <img class="navbar-brand" src="">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <%= link_to "knowledge alpha society", '/home', class: "navbar-brand" %>
        <li><a href="/home">Home </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
                    </div>
                </div>
            </div>
        </div>
    </header>
</nav>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6489153071431787"
     data-ad-slot="1196868156"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> 

 <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h1><b>6 books that will grow your business mind</b></h1>
                    <p>we are going to give you six books that you can read that can help you grow your business mind. i found all
                    of these book extremely helpful in my life also that is why i highly suggest these 6 books just like most of the books or
                    things i talk about or suggest they will most likely have more than one purpose in your life.</p>

                    <p>6 books that will grow your business mind</p>

<p>1. Adventures for Your Soul: 21 Ways to Transform Your Habits and Reach Your Full Potential.
 <a href="http://amzn.to/2mEJSIF">http://amzn.to/2mEJSIF</a></p>

<p>2. Joe Pardo’s 31 Life-Changing Concepts
 <a href="http://amzn.to/2mEVYRY">http://amzn.to/2mEVYRY</a></p>

<p>3. Small Business Big Money Online
<a href="http://amzn.to/2nl56s1">http://amzn.to/2nl56s1</a></p>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 2ndad -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6489153071431787"
     data-ad-slot="2376746556"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<p>4. The Eventual Millionaire: How Anyone Can Be an Entrepreneur and Successfully Grow Their Startup
<a href="http://amzn.to/2nCLn9p">http://amzn.to/2nCLn9p</a></p>

<p>5. The Successful Thinker
<a href="http://amzn.to/2nla4EW">http://amzn.to/2nla4EW</a></p>

<p>6.  Hangouts Marketing Mastery: Your Platform to Enhance Visibility, Attract Ideal Clients, and Increase Revenue
<a href="http://amzn.to/2nl3CxG">http://amzn.to/2nl3CxG</a></p>

                </div>
            </div>
        </div>
    </article>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6489153071431787"
     data-ad-slot="1196868156"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68673822-2', 'auto');
  ga('send', 'pageview');

</script>

