<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6489153071431787"
     data-ad-slot="1196868156"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<meta name="trafficjunky-site-verification" content="70r072st0" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@misterkapt" />
<meta name="twitter:title" content="10 ways to make 10k in 10 days" />
<meta name="twitter:description" content="10 of the best ways to make 10k in 10 days and monetize your site in 2017." />
<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <img class="navbar-brand" src="">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <%= link_to "knowledge alpha society", '/home', class: "navbar-brand" %>
        <li><a href="/home">Home </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <script type="text/javascript" src="//go.pub2srv.com/apu.php?zoneid=1089202"></script>
    </div>
 <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h1><b>6 books that will help you succeed</b></h1>
                    <p>we are going to lay out 6 books you can read that can help you succeed. all of these books on this list can help
                    contribute to your success in a big way i truly believe books in general are a big contributer in anyones success.</p>

                    <p>6 books that will help you succeed</p>

<p>1. Managing Oneself
 <a href="http://amzn.to/2nde4Yl">http://amzn.to/2nde4Yl</a></p>

<p>2. How to Win Friends & Influence People
 <a href="http://amzn.to/2nNvnla">http://amzn.to/2nNvnla</a></p>

<p>3. The Selfish Gene
<a href="http://amzn.to/2nwCP3P">http://amzn.to/2nwCP3P</a></p>

<p>4. The Lessons Of History
<a href="http://amzn.to/2nwK9fT">http://amzn.to/2nwK9fT</a></p>

<p>5. When I Stop Talking, You'll Know I'm Dead
<a href="http://amzn.to/2nwEZ3z">http://amzn.to/2nwEZ3z</a></p>
<script type="text/javascript" src="//ubercpm.com/show.php?z=26&pl=83360&j=1"></script>
<p>6.  MICHAEL JORDAN: THE LIFE BY ROLAND LAZENBY
<a href="http://amzn.to/2mZUhd0">http://amzn.to/2mZUhd0</a></p>

<p>this is a list of books i recommend you read i found them very helpful in every aspect of my life
also found that they gave a different persepctive on anything to do with success all the way down to life experiences.</p>

                </div>
            </div>
        </div>
    </article>
    <meta name="propeller" content="e217f346d647bfa5ee39d0bc93935acc" />
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6489153071431787"
     data-ad-slot="1196868156"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; MatthewJordanReid 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>

